meta(
	name='title'
	content='DNS | Бытовая техника Gorenje'
)
meta(
	name='description'
	content='Бытовая техника Gorenje - сочетание знаний, инноваций, энергоэффективности, высококачественных материалов и эксклюзивного дизайна. Она проста в использовании и облегчает жизнь миллионам пользователей по всему миру.'
)
meta(
	property='og:type'
	content='website'
)
meta(
	property='og:title'
	content='DNS | Бытовая техника Gorenje'
)
meta(
	property='og:description'
	content='Бытовая техника Gorenje - сочетание знаний, инноваций, энергоэффективности, высококачественных материалов и эксклюзивного дизайна. Она проста в использовании и облегчает жизнь миллионам пользователей по всему миру.'
)
meta(
	property='og:image'
	content='/site-poster.jpg'
)
meta(
	property='twitter:card'
	content='summary_large_image'
)
meta(
	property='twitter:title'
	content='DNS | Бытовая техника Gorenje'
)
meta(
	property='twitter:description'
	content='Бытовая техника Gorenje - сочетание знаний, инноваций, энергоэффективности, высококачественных материалов и эксклюзивного дизайна. Она проста в использовании и облегчает жизнь миллионам пользователей по всему миру.'
)
meta(
	property='twitter:image'
	content='/site-poster.jpg'
)
